$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;

//colores
$rosa:#FF7979;
$verde: #38CC8B;
$violeta: #5E54A4;
$gris: #3D3B48;